NEXT_PUBLIC_API_URL=http://localhost:8000
OPENROUTER_API_KEY=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZnJlZS1zbG90aC00NC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_2WGhkCXxmu9gMHtqy2V97xZKGkhUdf45DP4IvzFzMQ
CLERK_JWKS_URL=https://free-sloth-44.clerk.accounts.dev/.well-known/jwks.json

DEFAULT_AWS_REGION=us-east-1
AWS_ACCOUNT_ID=
exportAWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

OPENAI_API_KEY=