

DB_HOST=localhost
DB_NAME=papar
DB_USER=postgres
DB_PASSWORD=
OPENAI_API_KEY=<your-openai-api-key>

MAILJET_API_KEY=8f752f6b5383ce87a4766288151b6aca
MAILJET_API_SECRET=73407c22ef430fd7ce130774fbb9c3a6
MAILJET_SENDER=pastercode@gmail.com